.tagList {
  margin: 0;
  list-style: none;
  display: flex;
  gap: var(--gap);
  padding-right: 1.2rem;
}

.tagItem {
  width: clamp(220px, 20vw, 320px);
  height: 200px;
  background: rgb(42, 42, 49);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #888;
  position: relative;
  transform-origin: center center;
}

.scroller {
  max-width: 90vw;
  padding: 5rem;
}

.scrollerInner {
  width: max-content;
  animation: scroll var(--_animation-duration, 60s)
    var(--_animation-direction, forwards)
    linear infinite;
}

/* mask */
.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-1 * var(--scroll-distance)));
  }
}


:global(.is-active) {
  color: #fff;
  transform: scale(1.1);
  z-index: 1;
}

:global(li[data-gradient="mediumBlue"].is-active) {
  background: linear-gradient(to bottom, rgb(88, 196, 220), rgb(15, 74, 117));
}

:global(li[data-gradient="black"].is-active) {
  background: linear-gradient(to bottom, rgb(65, 65, 65), rgb(18, 18, 18));
}

:global(li[data-gradient="blue"].is-active) {
  background: linear-gradient(to bottom, #3178c6, #112c49);
}

:global(li[data-gradient="orange"].is-active) {
  background: linear-gradient(to bottom, #F14A29, #701f0e);
}

:global(li[data-gradient="lightPurple"].is-active) {
  background: linear-gradient(to bottom, #692e95, #471969);
}

:global(li[data-gradient="darkPurple"].is-active) {
  background: linear-gradient(to bottom, #764abc, #5c28af);
}

:global(li[data-gradient="wine"].is-active) {
  background: linear-gradient(to bottom, rgba(255, 32, 91, 1) 0%, rgba(156, 0, 41, 1) 50%, rgba(66, 0, 17, 1) 100%);
}

:global(li[data-gradient="green"].is-active) {
  background: linear-gradient(to bottom, rgba(0, 215, 99, 1) 0%, rgba(0, 135, 62, 1) 50%, rgba(0, 66, 30, 1) 100%);
}

:global(li[data-gradient="lightRed"].is-active) {
  background: linear-gradient(to bottom, rgba(255, 121, 106, 1) 0%, rgba(193, 72, 58, 1) 50%, rgba(125, 39, 29, 1) 100%);
}

:global(li[data-gradient="bluePurple"].is-active) {
  background: linear-gradient(to bottom, #10084e, #2e0244);
}

:global(li[data-gradient="dualBlue"].is-active) {
  background: linear-gradient(to bottom, rgb(64, 168, 251), rgb(3, 30, 53));
}

:global(li[data-gradient="orangeBrown"].is-active) {
  background: linear-gradient(to bottom, rgb(254, 153, 42), rgb(51, 0, 1));
}